<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <title>Vue JS</title>
 </head>
 <body>
	 <div id="app">
		<div :class="classeCss">Un peu de texte rouge</div>

		<button v-bind:title="title">Ajouter</button>
		<!-- ou :title -->

		<div :class="{'ok':produitCommandeOk}">Tige de selle Shimano</div>
		<button v-on:click="commanderProduit">Commander</button>


		<div>
			<button :disabled="boutonInactif" @click="disableButton">Ce bouton est inactif</button>
		</div>

		<p>Voici un message : {{message}}</p>
		<p>Voici le même message en majuscules : {{leMessageEnMajuscules}}</p>
		<p>et là aussi : {{leMessageEnMajuscules}}</p>

		<input v-model="nombre">
		<p>Un nombre : {{nombre}}</p>
		<p>Ce nombre au carre : {{carreDuNombre}}</p>
		<p>Ce nombre au carre : {{carreDuNombre}}</p>
		<p>Ce nombre au carre : {{carreDuNombre}}</p>
		<p>Ce nombre au carre : {{carreDuNombre}}</p>
		
		<!-- si attribut à 2 points, sa valaur doit être une variable -->
		<liste-contacts :contacts="contactsList"></liste-contacts>
		
		<liste-contacts :contacts="contactsFr" titre="Contacts francais"></liste-contacts>
		
		<!-- Essai avec un seul contact sortit de la data contactsList -->
		<composant-contact :contact="contactMicrosoft">

	</div>
	<script>
		//Dans la template, un seul élément parent !
		//Composant liste des contacts
		Vue.component('liste-contacts',{
			props : ['contacts', 'titre'],
			template : `
			<div>
				<h1 v-if="titre">{{titre}}</h1>
				<h1 v-else>Contacts</h1>
				<ul> 
					<li v-for="contact in contacts">
					<composant-contact :contact="contact"/>
					</li>
				</ul>
			</div>
			`
		});

		//Composant 'contact'
		//props = tu vas recevoir une donnée qui s'appelle contact
		Vue.component('composant-contact',{
			props : ['contact'],
			template : `
			<div class="contact">
				<b>{{contact.name}}</b>
				<p>Email : <a href="">{{contact.email}}</a></p>
			</div>
			`
		});


		var app = new Vue({
			el :'#app',
			nouveauNom : '',
			data : {
				title : 'Vous me voyez !',
				classeCss : "texte-rouge",
				produitCommandeOk : false,
				boutonInactif : false,
				message : 'Bonjour tout le monde',
				nombre : 5,
				contactMicrosoft : {
					name : 'Microsoft',
					email : 'contact@microsoft.com'
					
				},
				contactsList : [
					{
						name : 'Google',
						email : 'contact@google.com'
					},
					{
						name : 'Amazon',
						email : 'contact@amazon.com'
					},
					{
						name : 'Apple',
						email : 'contact@apple.fr'
					},
					{
						name : 'Twitter',
						email : 'contact@twitter.fr'
					}
					
				]
			},
			methods : { 
				commanderProduit(){
					this.produitCommandeOk=true;
				},
				disableButton(){
					this.boutonInactif=true
				}
			},
			computed : {
				leMessageEnMajuscules(){
					console.log('leMessageEnMajuscules');
					return this.message.toUpperCase();
				},
				carreDuNombre(){
					console.log('carreDuNombre');
					return this.nombre * this.nombre;
				},
				contactsFr(){
					return this.contactsList.filter(element => {
						return element.email.includes('.fr');
					})
				}
			}
		});

	</script>
	<style>
		.texte-rouge{
			color : red;
		}
		.ok{
			color : green;
		}
	</style>

 </body>
</html>
